@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: Pretendard, sans-serif;
}

/*앵커 밑줄 및 글자색*/

a {
    text-decoration-line: none;
    color: black;
}

/* ------------ 버튼 ------------ */

button {
    width: 140px;
    height: 50px;
    color: white;
    background-color: rgba(217, 118, 82, 1);
    border: 0;
    border-radius: 40px;
    margin: 0 19px;
    font-weight: 700;
}

button:hover {
    background-color: rgb(191, 104, 72);
}

button:active {
    background-color: rgb(140, 76, 53);
    box-shadow: inset 1px 1px 6px -1px #353535;
    text-shadow: black 1px 1px;
}


/* ------------ 헤더 ------------ */

header {
    height: 900px;
    background-color: rgba(242, 233, 216, 1);
    padding: 102px 301px 0;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;;

    height: 102px;
    background-color: rgba(242, 233, 216, 1);
    padding: 30px 320px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-box{
    display: flex;
    padding-top: 32px;
    justify-content: space-between;
}
.header-content {
    padding-top: 168px;
    display: flex;
    flex-flow: column wrap;
    gap: 40px;
}

.txt-title {
    width: 695px;
    /*height: 120px;*/
    font-size: 48px;
    font-weight: 700;
    padding-left: 19px;
}

.txt-content {
    width: 420px;
    /*height: 86px;*/
    padding-left: 19px;
}

.link-home {
    position: absolute;
    top: 0;
    left: 0;
}

/* ------------ 메인 ------------ */

main {
    padding: 80px 320px 0;
    display: flex;
    align-items: center;
    flex-flow: column;
}

/* ------------ 메인 이미지 ------------ */

main img {
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.25);
}

main .logo {
    border-radius: 0;
}

/* ------------ section1 ------------ */

.section1 {
    display: flex;
    justify-content: center;
    gap: 110px;
}

.section1 div {
    padding-top: 92px;
    display: flex;
    flex-flow: column;
    gap: 30px;
}

.txt-title2{
    width: 510px;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
}

/* ------------ section2 ------------ */

.section2 {
    padding: 120px 0 80px;
    display: flex;
    align-items: center;
    flex-flow: column;
    border-bottom: 1px solid lightgray;
}

.txt-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.txt-colorTitle {
    width: 875px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: rgba(217, 118, 82, 1);
    text-align: center;
}

.txt-content3 {
    margin-top: 40px;
    width: 710px;
    text-align: center;
}

strong {
    color: rgba(217, 118, 82, 1)
}

.img-cat3  {
    margin-top: 72px;
    width: 100%;
    display: flex;
    gap: 72px;
    justify-content: center;
}

.txt-continue {
    margin-top: 100px;
    margin-bottom: 28px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}


/* ------------ section3 ------------ */

.section3 {
    padding: 68px 320px 32px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.map-container {
    width: 1278px;
}

.address {
    margin-top: 20px;
    width: 510px;
}

.map {
    margin: 48px;
    width: 1278px;
    height: 520px;
    border-radius: 16px;
    background-color: #aaaaaa;
}

/* ------------ subscribe ------------ */

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 58px;
    width: 1280px;
    height: 200px;
    background-color: rgba(38, 49, 64, 1);
    border-radius: 30px;
    color: rgba(255, 255, 255, 1);
    z-index: 1;
}

.txt-subscribe-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
}

.txt-subscribe-content{
    margin-top: 18px;
    width: 471px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.form-subscribe {
    width: 530px;
    height: 60px;
    background-color: white;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 60px;
    padding-left: 28px;
}

.form-subscribe img {
    vertical-align: bottom;
    margin-right: 10px;
}

.form-subscribe button {
    margin: 0 6px;
    justify-self: end;
}

input {
    border: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}


/* ------------ footer ------------ */


.btn-home {
    border: 1px solid rgba(196, 196, 196, 1);
    width: 50px;
    height: 50px;
    background-image: url("img/arrow_up_gray.png");
    background-color: white;
    background-position: center;
    margin: 19px 24px;
}

.btn-home:hover {
    background-image: url("img/arrow_up_black.png");
    background-color: white;
}

footer {
    position: relative;
    bottom: 100px;
}

.box {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    height: 340px;
    background-image: url("img/img_5.png") ;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.box-footer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 45px 320px;
    align-items: center;
}

.box-footer div {
    display: flex;
    gap: 20px;
}


/* ------------ modal ------------ */


.modal {
    display: none;

}

.modal-background {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #767676;
    opacity: 50%;
    z-index: 2;
}

.modal-body {
    display: flex;
    align-items: center;
    flex-flow: column;
    position: fixed;
    top: 20%;
    left: 34%;
    padding-top: 60px;
    width: 600px;
    height: 400px;
    border-radius: 30px;
    background-image: url("img/modal_background.png");
    background-size: cover;
    z-index: 3;
}

.txt-modal-colorTitle {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    color: rgba(217, 118, 82, 1);
    margin-top: 24px;
}

.txt-modal-content{
    margin: 12px 0 38px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.btn-closeModal {
    width: 183px;
    height: 50px;
}