@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}


body{
    position: relative;
    font-family: Pretendard, sans-serif;
}

/*앵커 밑줄 및 글자색*/

a {
    text-decoration-line: none;
    color: black;
}

/* ------------ 버튼 ------------ */

button {
    width: 140px;
    height: 50px;
    color: white;
    background-color: rgba(217, 118, 82, 1);
    border: 0;
    border-radius: 40px;
    margin: 0 19px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: rgb(191, 104, 72);
}

button:active {
    background-color: rgb(140, 76, 53);
    box-shadow: inset 1px 1px 6px -1px #353535;
    text-shadow: black 1px 1px;
}


/* ------------ 헤더 ------------ */

header {
    height: 900px;
    background-color: rgba(242, 233, 216, 1);
    padding: 102px 0;
}



nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;;

    height: 102px;
    background-color: rgba(242, 233, 216, 1);
    padding: 30px 100px 30px 150px;

    z-index: 3;
}

.nav-right {
    display: flex;
    align-items: center;
    margin: 0 0 0 50px;
    gap: 30px;
}




.nav-box {
    flex-basis: 100px;
    flex-shrink: 10;
}

.header-box{
    display: flex;
    padding-top: 32px;
    justify-content: center;
}
.header-content {
    padding-top: 168px;
    display: flex;
    flex-flow: column wrap;
    gap: 40px;
}

.btn-clearMenu {
    width: 32px;
}

.txt-title {
    width: 695px;
    /*height: 120px;*/
    font-size: 48px;
    font-weight: 700;
    padding-left: 19px;
}

.txt-content {
    width: 420px;
    /*height: 86px;*/
    padding-left: 19px;
}

.link-home {
    position: absolute;
    top: 0;
    left: 0;
}

/* ------------ 메인 ------------ */

main {
    padding: 80px 320px 0;
    display: flex;
    align-items: center;
    flex-flow: column;
}

/* ------------ 메인 이미지 ------------ */

main .section1 img, main .section2 img {
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.25);
}

main .logo {
    border-radius: 0;
}

/* ------------ section1 ------------ */

.section1 {
    display: flex;
    justify-content: center;
    gap: 110px;
}

.section1 div {
    padding-top: 92px;
    display: flex;
    flex-flow: column;
    gap: 30px;
}

.txt-title2{
    width: 510px;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
}

/* ------------ section2 ------------ */

.section2 {
    padding: 120px 0 80px;
    display: flex;
    align-items: center;
    flex-flow: column;
    border-bottom: 1px solid lightgray;
}

.section2 img {
    width: 378px;
    height: 378px;
}

.txt-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.txt-colorTitle {
    width: 875px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: rgba(217, 118, 82, 1);
    text-align: center;
}

.txt-content3 {
    margin-top: 40px;
    width: 710px;
    text-align: center;
}

strong {
    color: rgba(217, 118, 82, 1)
}

.img-cat3  {
    margin-top: 72px;
    width: 100%;
    display: flex;
    gap: 72px;
    justify-content: center;
}

.img-none {
    display: none;
}

.txt-continue {
    margin-top: 100px;
    margin-bottom: 28px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}


/* ------------ section3 ------------ */

.section3 {
    padding: 68px 0 32px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.map-container {
    width: 1278px;
}

.address {
    margin-top: 20px;
    width: 510px;
}

.map {
    margin: 48px 0;
    width: 1278px;
    height: 520px;
    border-radius: 16px;
    background-color: #aaaaaa;
}

.map button {
    margin: 0;
    border-radius: 0;

}

/* ------------ subscribe ------------ */

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 58px;
    width: 1280px;
    /*height: 200px;*/
    background-color: rgba(38, 49, 64, 1);
    border-radius: 30px;
    color: rgba(255, 255, 255, 1);
    z-index: 1;
}

.txt-subscribe-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
}

.txt-subscribe-content{
    margin-top: 18px;
    width: 471px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}
.form-subscribe {

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 170px;
}


.input-container{
    width: 530px;
    height: 60px;
    background-color: white;
    border-radius: 60px;
    display: flex;
    align-items: center;
    padding-left: 28px;
}

.form-subscribe img {
    vertical-align: bottom;
    margin-right: 10px;
}

.form-subscribe button {
    margin: 0 6px;
    position: relative;
    right : 152px;
}

input {
    border: 0;
    font-weight: 400;
    font-size: 18px;
}


/* ------------ footer ------------ */


.btn-home {
    border: 1px solid rgba(196, 196, 196, 1);
    width: 50px;
    height: 50px;
    background-image: url("img/arrow_up_gray.png");
    background-color: white;
    background-position: center;
    margin: 19px 24px;
}

.btn-home:hover {
    background-image: url("img/arrow_up_black.png");
    background-color: white;
}

footer {
    position: relative;
    bottom: 100px;
}

.box {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    height: 340px;
    background-image: url("img/img_5.png") ;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.box-footer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 45px 320px;
    align-items: center;
}

.box-footer div {
    display: flex;
    gap: 20px;
}


/* ------------ modal ------------ */


.modal, .modal2 {
    display: none;

}

.modal-background {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #767676;
    opacity: 50%;
    z-index: 2;
}

.modal-body {
    display: flex;
    align-items: center;
    flex-flow: column;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 60px;
    width: 600px;
    border-radius: 30px;
    background-image: url("img/modal_background.png");
    background-size: cover;
    z-index: 5;

}

.txt-modal-colorTitle {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    color: rgba(217, 118, 82, 1);
    margin-top: 24px;
}

.txt-modal-content{
    margin: 12px 0 38px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.btn-closeModal {
    width: 183px;
    height: 50px;
}

.modal button, .modal2 button {
    margin-bottom: 50px;
}

.btn-cancel {
    background-color: white;
    color: #353535;
    width: 183px;
}

.btn-cancel:hover {
    background-color: #dadada;
    color: black;
}


/*---------------------nav menu-------*/
.display-none{
    display: none;
}

.menu-none{
    width: 70%;
    height: 100vh;
    justify-content: space-between;
    flex-flow: column;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    background-color: rgba(38, 49, 64, 1);
    animation-duration: 1s;
    animation-name: slidein;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.25);
}

 .img-header-cat{
    margin: 0 5rem;
}

 .input-value{
     font-size: 20px;
 }


@keyframes slidein {
    from {
        transform: translateX(70%);
    }

    to {
        transform: translateX(0);
    }
}

/*@keyframes slidein2 {*/
/*    from {*/
/*        transform: translateY(300%);*/
/*    }*/

/*    to {*/
/*        transform: translateY(0);*/
/*    }*/
/*}*/

.hodu {
    position: absolute;
    font-size: 24px;
    animation: fall 2s linear;
}

.hodu:nth-child(2) {
    animation-duration: 2.5s; /* 두 번째 하트는 더 느리게 떨어지도록 */
}

.hodu:nth-child(3) {
    animation-duration: 1.5s; /* 세 번째 하트는 더 빠르게 떨어지도록 */
}

@keyframes fall {
    0% {
        transform: translateY(-200px) rotateZ(0deg); /* 시작 위치: 화면 위에서 시작 */
        opacity: 1;
    }
    100% {
        transform: translateY(calc(100vh + 20px)) rotateZ(1080deg); /* 종료 위치: 화면 아래에서 사라짐 */
        opacity: 0;
    }
}



/*------------------------------반응형-------------------------------*/


@media screen and (max-width: 1200px){
    header{
        padding : 102px 130px 0;
        height: auto;
    }

    .header-box {
        flex-flow: column;
        align-items: center;
    }

    .header-content {
        text-align: center;
        align-items: center;
    }

    .header-content p {
        padding: 0;
    }

    .box-footer {
        padding: 45px 30px;
    }

    .section1 {
        flex-flow: column;
        gap: 0;
    }

    .img-cat3 {
        flex-flow: column;
    }

    .map {
        width: 800px;
        height: 500px;
    }

    .map-container {
        width: 100%;
    }

    .subscribe {
        width: 800px;
        align-items: center;
        flex-flow: column;
        height: auto;
        padding: 50px 0;
    }

    .subscribe p {
        padding-left: 20px;
        width: 700px;
    }

    .subscribe form {
        width: 700px;
        margin: 40px 0 0 0;
        padding: 0;
        position: relative;
    }

    .form-subscribe {
        justify-content: center;
    }
}


@media screen and (max-width: 768px) {
    .nav-right{
        display: flex;
        flex-flow: column;
        margin: 5rem 2rem 30rem 1rem;
    }

    .nav-right a {
        color: white;
    }

    nav{padding: 30px 20px}

    header{padding: 60px 30px 0; height: auto;}

    .header-content {
        align-items: center;
        padding-top: 30px;
    }
    .header-box{
        justify-content: space-between;
        align-items: center;
        flex-flow: column;
    }
    .txt-title {
        width: 240px;
        font-size: 24px;
        text-align: center;
    }
    .txt-content {
        width: 270px;
        font-size: 14px;
    }

    .img-header-cat{
        width: 200px;
        margin-top: 30px;
    }

    main {
        padding: 70px 30px
    }

    .section1 {
        flex-flow: column;
        align-items: center;
        /*text-align: center;*/
        width: 340px;
        gap: 5px;
    }

    .section1 div {
        padding: 0;
    }

    .section1 img {
        width: 300px;
    }

    .section1 p {
        width: 300px;
    }


    /*        section2        */
    .section2 {
        width: 340px;
    }

    .section2 p {
        width: 300px;
    }

    .img-cat3 {
        align-items: center;
        flex-flow: column;
    }

    .section2 img {
        width: 300px;
        height: 300px;
    }


    .section3 {
        width: 340px;
    }

    .section3 div{
        width: 326px;
    }

    .section3 p {
        width: 300px
    }

    .map {
        width: 300px;
        height: 300px;
    }

    .subscribe {
        width: 340px;
        align-items: center;
        flex-flow: column;
        height: auto;
    }

    .subscribe p {
        width: 300px;
        text-align: center;
        padding-left: 0;
    }

    .subscribe form {
        width: 300px;
        margin: 60px 0;
        padding: 0;
        position: relative;
    }

    .box-footer {
        padding: 30px 20px;
        flex-flow: column;
        align-items: start;
        justify-content: space-around;
        gap: 50px;
    }

    .img-logo {
        width: 112px;
    }

    .box-footer a img {
        width: 32px;
    }

    .modal-body {
        width: 340px;
    }

    .modal-body div{
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .form-subscribe button{
        position:absolute;
        top: 95px;
        left: 70px;
    }

    .btn-clearMenu {
        position: sticky;
        top: 10px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        margin: 1rem;
    }

    .modal2 .btn-closeModal {
        margin-bottom: 20px;
    }

    input {
        font-size: 16px;
    }

    /*.hodu img {*/
    /*    width: 60px;*/
    /*}*/
}

